body {
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

h1 {
    text-align: center;
    font-family: 'Bookman Old Style', 'Times New Roman', Times, serif;
    font-size: 30px;
    text-decoration: coral underline;
}

h2 {
    text-align: center;
}

#outer{
    background-color:rgba(240, 248, 255, 0);
    position: relative;
    width: 610px;
    height: 205px;
    margin: 10px;
}

#writing, #copy {
    width: 600px;
    height: 200px; 
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 1px;
    border: 1px solid navajowhite;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0px;
    left:0px;
}

#writing {    
    background-color:rgba(240, 248, 255, 0);
    z-index: 1;
    resize: none;
}

#copy {
    background-color:aliceblue;
    color: rgba(240, 248, 255, 0);
    z-index: 0;
    white-space: pre-wrap;
}

input, button {
    margin-left: 10px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border: 1px groove black;
}

span {
    text-decoration: coral underline;
}

input, button, #copy, #writing, #outer{
    outline:none;
}

#highlightMe {
    background-color: salmon;
}
#amountOfMatches {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
}
